header{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}
.container{
    background: lightsalmon;
    text-align: center;
    text-size-adjust: 1000px;
    font-size: 100%
}
#hero{
    background: url("#");
    background-position-x: center;
    background-size: cover;
}
#hero .navbar.is-transparent{
    background-color: transparent;
}
.service-buttons{
    justify-content: center;
}
.logos:before{
    content: "";
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    border-top: 1px solid whitesmoke;
}
#contact{
    background: url("https://wallpapertag.com/wallpaper/full/d/f/9/813112-rainbow-desktop-wallpaper-1920x1080-for-mobile.jpg");
    background-size: cover;
}
.title{
    text-align: center;
    color: 50% blue, 50% green;
    background-color: lightblue;
    text-size-adjust: 25px;
}
body{
    background-color: lightsteelblue;
}
@media screen and (max-width: 1023px){
    .navbar-menu a.has-text-white{
        color: black;
    }
    .navbar-menu a.has-text-white:hover{
        color: #423;
    }
}

.my-column{
    background-color: lightgray;
}


p{
    text-align: center;
}

h6{
    font-style: italic;
    font-weight: bolder;
}

.startWeather {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

/* Events section */

.event-col {
    background-color: white;
    padding: 20px;
}

.ev-form {
    background-color: white;
}

#events-holder {
    background-color: white;
}

.my-eventcard {
    background-color: white;
    box-shadow: 5px 5px 3px grey;
    border-radius: 5px;
}

#ev-failed-search {
    color: red;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    box-shadow: 5px 5px 3px grey;
    border-radius: 5px;
    border-color: red;
}


.ev-input {
    margin-bottom: 10px;

}

#events-holder {
    background-color: white;
}

.ev-input {
    margin-bottom: 5px;
}

#ev-title {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.footer-title {
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    background-color: white;
}

.logo {
    max-height: 150px;
}

.weatherLogo {
    max-height: 150px;
}

.eventfulLogo {
    max-height: 70px;
}