header{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}
.container{
    background: lightsalmon;
    text-align: center;
    text-size-adjust: 1000px;
    font-size: 100%
}
#hero{
    background: url("#");
    height: 1000px;
    background-position-x: center;
    background-size: cover;
}
#hero .navbar.is-transparent{
    background-color: transparent;
}
.service-buttons{
    justify-content: center;
}
.logos:before{
    content: "";
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    border-top: 1px solid whitesmoke;
}
#contact{
    background: url("https://wallpapertag.com/wallpaper/full/d/f/9/813112-rainbow-desktop-wallpaper-1920x1080-for-mobile.jpg");
    background-size: cover;
}
.title{
    text-align: center;
    color: 50% blue, 50% green;
    background-color: lightblue;
    text-size-adjust: 25px;
}
body{
    background-color: lightsteelblue;
}
@media screen and (max-width: 1023px){
    .navbar-menu a.has-text-white{
        color: black;
    }
    .navbar-menu a.has-text-white:hover{
        color: #423;
    }
}
.column{
    background-color: red;
}
p{
    text-align: center;
}
h6{
    font-style: italic;
    font-weight: bolder;
}
